main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  .boardRow {
    height: 70px;
    display: flex;
    gap: 5px
  }

  .boardRowTile {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    width: 62px;
    border: solid 2px;
    border-color: aliceblue;
  }
}