main {
  --board-font-color: white;
  --key-font-color: black;
  --absent-color: rgb(74, 74, 74);
  --present-color: rgb(180, 180, 0);
  --correct-color: green;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  gap: 50px;
  
  .boardRow {
    flex: 1;
    height: 75px;
    display: flex;
    gap: 5px;
  }

  .boardRowTile {
    display: flex;
    width: min(12vw, 65px);
    height: min(12vw, 65px);
    border: solid 2px;
    border-color: aliceblue;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: clamp(1.5rem, 5vw, 2.5rem);   
    color: var(--board-font-color);
  }

  .boardRowTile:empty {
    border-color: grey;
  }

  .boardRowTile[data-state="absent"] {
    background-color: var(--absent-color);
    border-color: var(--absent-color);
  }

  .boardRowTile[data-state="present"] {
    background-color: var(--present-color);
    border-color: var(--present-color);
  }

  .boardRowTile[data-state~="correct"] {
    background-color: var(--correct-color);
    border-color: var(--correct-color);
  }

  .keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .keyboardRow {
    display: flex;
    justify-content: center;
  }

  .key {
    flex: 1;
    display: flex;
    height: 50px;
    min-width: 45px;
    background-color: rgb(229, 229, 229);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: var(--key-font-color);
    font-weight: 600;
    font-size: clamp(1rem, 5vw, 1.5rem);
    margin-right: 6px;
    outline: 0px;
    border: 1px solid rgb(183, 183, 183);
  }

  .key[data-key="ENTER"] {
    font-size: 15px;
  }

  .key[data-state="absent"] {
    background-color: var(--absent-color);
    border-color: var(--absent-color);
    color: white;
  }

  .key[data-state="present"] {
    background-color: var(--present-color);
    border-color: var(--present-color);
    color: white;
  }

  .key[data-state="correct"] {
    background-color: var(--correct-color);
    border-color: var(--correct-color);
    color: white;
  }

  .spacer {
    flex:1.1
  }

  .large.key {
    min-width: 67px;
  }
}